# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\University\Theory-of-algorithms\ordinalStatisticsTree\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
